body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #weather {
    margin-top: 20px;
  }
  
  #cityInput {
    padding: 5px;
  }
  
  #weatherInfo {
    margin-top: 10px;
    font-weight: bold;
  }

.mainContainer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 30px;
  box-shadow: 0 0 20px #5D676F;
  width: 400px;
  height: 500px;
  border-radius: 2em;
  background-color: #E2E2E2;
}
h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration:solid;
}
input{
  width: 200px ;
  height: 20px;
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.fa{
  cursor: pointer;
  background-color: transparent;
}

  

.location{
  position: absolute;
  left: 0;
  padding-left: 30px;
  margin-bottom: 0;
  display: flex;
  
   

}
.content{
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}
.condition{
  
  position: absolute;
  right: 0;
  padding: 30px;
  margin-right: 40px;
}
.temp{
  font-size: 50px;
}
.text{
  margin-top: 30px;
}
.image{
  position: absolute;
  bottom: 60px;
  
  

}
img{
  width: 200px;
  height: 200px;
  filter: drop-shadow(0 0 20px #3d3d3d);
}
